.top-wrap {
    margin-top: 50px;
}

.title-main {
	font-weight: bold;
	cursor: pointer;
    margin-top: 70px;
}

.search-wrap {
	margin: 0 auto;
	width: 30vw;
}

.search-input {
	font-size: 21px;
	text-align: center;
}

.mod {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	vertical-align: middle;
}

.mod-preview {
	border: 2px solid #040404;
	cursor: pointer;
	height: 275px;
	opacity: 1;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
    position: relative;
}

.mod-preview-content {
    height: 84%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  	position: absolute;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.mod-preview:hover {
	opacity: 0.8;
	border-color: #2780e3;
}

.preview-img {
	display: block;
	max-width: 100%;
	max-height: 200px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
}

.preview-title {
	font-weight: 400;
	position: absolute;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.mod-content {
	padding: 20px;
}

.mod-img {
	max-width: 100%;
	max-height: 50vh;
}

.mod-title {
	font-weight: bold;
}

.mod-description {
	font-size: 16px;
}

.mod-tags {
	font-size: 12px;
}

.tags {
	font-size: 13px;
}

.glyphicon {
    vertical-align: middle;
    top: -1px;
}

btn-lg.glyphicon {
    top: -2px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}

/*** DARK THEME ***/
.dark {
	background: #222;
	color: white;
}

#upload-button {
	margin-left: 8px;
}