<header class="site-header">

  <!-- Navbar -->
  <nav id="navMain" role="navigation" class="navbar navbar-default navbar-fixed-top" ;>
    <!-- Mobile collapse menu -->
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
        <a class="navbar-brand" href="https://codedraken.github.io/ES-Hub/">Endless Sky Hub</a>
      </div>
      <!-- Collect links and content for toggle -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://codedraken.github.io/ES-Hub/">Home</a></li>
          <li><a href="https://codedraken.github.io/Endless-Sky-Ship-Generator/">Ship Generator</a></li>
          <li class="active"><a href="#">Mod Share</a></li>
          <li><a href="https://gitter.im/ES-Hub/Lobby" target="_blank">Chat</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
